* {
  margin: 0px;
  padding: 0px;
}

/*-------------------------------------Index------------------------------------*/

#seccionImage{
  width: 400px;
  height: 400px;
  float: left;
  text-align: justify;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 50px;
  margin-top: 7%;
  margin-left: 5%;
  -moz-box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;
}

#seccionTexto{
  width: 400px;
  height: 400px;
  float: right;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
/*   padding-top: 20px;
  padding-left: 10px;
  
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px; */
  margin-top: 7%;
  margin-right: 5%;
  border-radius: 20px;
  background: rgba(0,0,0,.3);
  border-style: groove;
}

#reloj_format{
	float: right;
	background-color : Black;
	border-radius: 20px;
	color : White; 
	font-family : Verdana, Arial, Helvetica; 
	font-size : 8pt; 
	text-align : center;
	margin-right: 1%;
	margin-top: -7px;
}

.w3-display-container{
	position:relative
}

.w3-display-container:hover .w3-display-hover{
	display:block
}

.w3-display-container:hover span.w3-display-hover{
	display:inline-block
}

.w3-display-bottomleft{
	position:absolute;
	left:0;bottom:0
}

.w3-large{
	font-size:18px!important;
	text-shadow: 2px -1px 2px rgba(241, 138, 21, 1);
}

.w3-container:after,.w3-container:before {
	content:"";
	display:table;
	clear:both
}

.w3-container{
	padding:0.01em 8px;
	
}

.w3-padding-8{
	padding-top:8px!important;
	padding-bottom:8px!important
}

.w3-black {
	color:#fff!important;
	background-color:#000!important
}

.w3-display-bottomright{
	position:absolute;
	right:0;
	bottom:0
}

.w3-button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}

.w3-button{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.w3-button{
	white-space:normal
}

.w3-button:hover{
	color:#000!important;
	background-color:#ccc!important
}

.w3-display-left{
	position:absolute;
	top:50%;
	left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%)
}

.w3-display-right{
	
	position:absolute;
	top:50%;
	right:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%)
}

h2.titulos_index{
	font-weight: 600;
	font-family: Avantgarde, sans-serif;
	text-shadow: 2px -1px 2px rgba(221, 78, 21, 1);
}




/*-------------------------------------Micela e Index------------------------------------*/
body{
  background-image: url(https://newevolutiondesigns.com/images/freebies/space-wallpaper-5.jpg);
  color: lightblue;
  margin-left: 50px;
  margin-right: 50px;
}
#seccionIndex{
  width: 1000px;
  height: 540px;
  float: left;
  text-align: justify;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
  background: rgba(0,0,0,.3);
  border-style: groove;
}

video {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20%;
}
#seccionAside{
  width: 170px;
  height: 555px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  border-style: groove;
  background: rgba(0,0,0,.3);
}
.links a{
  color: lightblue;
  text-decoration:none;
}
.links a:hover{
  color: yellow;
  text-decoration:none;
}
footer{
  color: lightblue;
  height: 40px;
  clear:both;
  text-align: center;
  background: rgba(0,0,0,.5);
  border-radius: 20px;
}
#Flink{
  color: lightblue;
  text-decoration:none;
}
#Flink:hover{
  color: yellow;
  text-decoration:none;
}

/*-------------------------------------Barra de navegacion----------------------*/
nav  {
    display: block;
    width: 100%;
    overflow: hidden;
}
nav ul {
    position: relative;
    left: 30%;
    margin: 80px 0 20px 0;
    padding: .7em;
    float: left;
    list-style: none;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: .5em;
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
}
nav li {
    position: relative;
    right: : 50%;
    float:left;
}
nav a {
    float:left;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);
 }
nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #fac754;
    background: linear-gradient(#fac754, #f8ac00);
}
nav a:active {
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}
nav li:first-child a {
    border-left: 0;
    border-radius: 4px 0 0 4px;
}
nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}

/*-------------------------------------Escocia------------------------------------*/
#bodyEscocia{
  background-image: url(http://www.perroviajante.com/wp-content/uploads/2012/10/gb_edimburgo_ruinas_abadc3ada_de_holyrood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#contenidoEscocia{
  width: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
#HsectionEscocia{
  margin-bottom: 20px;
  background:rgba(0,0,0,0.3);
  border-radius: 15px;
  color: white;
  font-family: monospace;
  font-size: 20px;
}
.tableEscocia {
  background:rgba(0,0,0,0.5);
  width: 100%;
  color: white;
  font-size: 15px;
  font-family: monospace;
  border: 2px solid blue;
  border-radius: 15px;
}
.tableEscocia td {
  border: 1px solid lightblue;
  border-radius: 5px;
}
#FEscocia{
  background:rgba(0,0,0,0.3);
  margin-top: 20px;
  color: white;
  font-size: 15px;
  font-family: monospace;
  border-radius: 15px;
}

/*-------------------------------------Cont------------------------------------*/
#ContactosContenido{
  background-color: gray;
}
#HeaderContactos{
  color: black;
  font-size: 30px;
  font-family: verdana;
}
#ContactosFormat{
  width: 960px;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.ContactosTabla {
  border: 2px solid blue;
  background-color: gray;
  color: black;
  font-size: 15px;
  font-family: verdana;
  width: 100%;
  opacity: 0.6;
}
.ContactosTabla th, .ContactosTabla td {
  border: 2px solid blue;
}
/*---------------------------------------*****----------------------------*/
