
* {
  margin: 0px;
  padding: 0px;
}

/*-------------------------------------Index------------------------------------*/
#contenido{
    width: 960;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    overflow: hidden;
}

body{
  background-color: gray;
  color: lightblue;
}

#seccionIndex{
  width: 1000px;
  height: 540px;
  float: left;
  background-color: lightgray;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
}

header{
  height: 80px;
  background-color: lightgray;
  text-align: center;
  line-height: 80px;
}

nav{
  height: 20px;
  background-color: orange;
  text-align: center;
  line-height: 50px;
}

aside{
  width: 250px;
  height: 530px;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  background-color: lightgreen;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  border-style: ridge;
}

footer{
  height: 40;
  clear:both;
  background-color: green;
  text-align: center;
}
/*-------------------------------------Index------------------------------------*/

/*-------------------------------------Escocia------------------------------------*/
#bodyEscocia{
  background-image: url(http://www.zastavki.com/pictures/originals/2015/World___Scotland_Ruins_of_a_temple_on_the_lake_in_Scotland_097354_.jpg);
}
#contenidoEscocia{
  width: 960;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
#HsectionEscocia{
  color: blue;
  font-size: 20px;
  font-family: verdana;
}
.tableEscocia {
  background-color: lightblue;
  color: black;
  font-size: 15px;
  font-family: cursive;
  border: 2px solid blue;
  border-radius: 15px;
  width: 100%;
  opacity: 0.6;
}
#FEscocia{
  margin-top: 20px;
  color: white;
  font-size: 15px;
  font-family: verdana;
  border-radius: 15px;
}

/*-------------------------------------Escocia------------------------------------*/





