* {
  margin: 0px;
  padding: 0px;
}

/*-------------------------------------Index------------------------------------*/
#contenido{
  width: 960px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;

}



body{
  background-color: #4B6682;
  color: lightblue;
}

#seccionIndex{
  width: 1000px;
  height: 540px;
  float: left;
  background-color: lightgray;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
}



video {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

header{
  height: 80px;
  background-color: lightgray;
  text-align: center;
  line-height: 80px;

}

nav{
  height: 60px;
  background-color: orange;
  text-align: center;
  line-height: 50px;


}

#seccionAside{
  width: 250px;
  height: 540px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #BDA9E5;
  text-align: center;
  line-height: 50px;
  border-style: ridge;
}

footer{
  height: 40px;
  clear:both;
  background-color: green;
  text-align: center;
}
/*-------------------------------------Index------------------------------------*/

/*-------------------------------------Escocia------------------------------------*/
#bodyEscocia{
  background-image: url(http://www.zastavki.com/pictures/originals/2015/World__Scotland_Ruins_of_a_temple_on_the_lake_in_Scotland_097354.jpg);
}
#contenidoEscocia{
  width: 960px;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
#HsectionEscocia{
  color: blue;
  font-size: 20px;
  font-family: verdana;
}
.tableEscocia {
  background-color: lightblue;
  color: black;
  font-size: 15px;
  font-family: cursive;
  border: 2px solid blue;
  border-radius: 15px;
  width: 100%;
  opacity: 0.6;
}
#FEscocia{
  margin-top: 20px;
  color: white;
  font-size: 15px;
  font-family: verdana;
  border-radius: 15px;
}

/*---------------------------------------*****----------------------------*/
/*<style type="text/css">*/
*{
  padding: 0px;
  margin: 0px;

}
#headerBarra{
  margin: auto;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style: none;

}
.nav li a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;

}
.nav li a:hover {
  background-color: #434343;
}
.nav > li{
  float: left ;
}

.nav li ul {
  position: absolute;
  min-width: 140px;
}
.nav li ul li {
  position: relative;
}
.nav li ul li  ul {
  right: -140pc;
  top: 0px;
}